models/yolo11l.pt
models/yolo11m.pt
models/yolo11n.pt
models/yolo11s.pt
models/yolo11x.pt
models/yolov8l.pt
models/yolov8m.pt
models/yolov8n.pt
models/yolov8s.pt
models/yolov8x.pt
models/yolo8l.pt
models/yolo8m.pt
models/yolo8n.pt
models/yolo8s.pt
models/yolo8x.pt
